.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 13%;
}
.logo img{
    width: 100%;
}
.menu{
    width: 50%;
    display: flex;
    font-size: 10px;
    justify-content: space-around;
}
.menu h1{
    color: white;
}
