@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #E6F3FC;
}
h1, h2, h3{
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
:root {
    --primary: #035AA6;
    --secondary: #F2B705;
    --forme: #8C4303;
    --figure: #D97904;
    --bg-light: #f9f9f6;
  }
  